.export-box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.export-header {
    background: #f5f7f9;
    padding: 10px;
}

.export-body {
    border: 1px solid #f5f7f9;
    padding: 15px;
}

.export-footer {
    display: none;
}