
.options-box {
  width: 560px;
  margin: 20px;
}

.options-box .login-block {
  width: 100%;
  display: inline-block;
}

.options-box .logout-block {
  width: 100%;
  display: none;
}

.authorized .login-block {
  display: none;
}

.authorized .logout-block {
  display: inline-block;
}

.login-block {
  text-align: center;
}

.login-block .login-btn {
  margin: 0 auto;
}

.logout-block .logout-btn {
  float: right;
  margin: 9px 5px 0;
}

.logout-block .refresh-btn {
  float: right;
  margin: 9px 5px 0;
}

.user-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e4e8;
}

.user-info .user-avatar {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-info .user-avatar img {
  width: 100%;
  height: 100%;
}

.user-info .user-name {
  display: inline-block;
  vertical-align: middle;
}

.btn,
.btn:hover {
  background-image: none;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.notice {
  display: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #e1e4e8;
}

.notice-success {
  color: #449d44;
}

.notice-error {
  color: #d9534f;
}

.notice-info {
  color: #5bc0de;
}
