.popup-box {
    /*width: 100px;*/
    text-align: left;
}

.popup-header {
    line-height: 20px;
    color: #16A764;
    font-weight: bolder;
    border-bottom: 1px dashed #aaaaaa;
    cursor: default;
    padding: 10px;
}

.popup-body {
    padding: 2px 0;
}

.menu-list {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    font-size: 14px;
}

.menu-item {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    cursor: pointer;
}

.menu-item:hover {
    background: #f5f7f9;
    color: #16A764;
}

.popup-footer {
    height: 25px;
}